#include "corne_winter.dtsi"

/ {
    /* Mock kscan for dongle */
    kscan_dongle: kscan_dongle {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    /* 👇 THIS is required for ZMK display */
    chosen {
        zephyr,display = &oled;
    };
};

/* Replace kscan */
&physical_layout_corne_winter {
    kscan = <&kscan_dongle>;
};

/* 👇 Enable I2C + define OLED */
&pro_micro_i2c {
    status = "okay";
    oled: sh1107@3c {
        compatible = "sinowealth,sh1107";
        reg = <0x3c>;
        width = <128>;
        height = <128>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <127>;
        prechargep = <0x22>;
    };
    oled_128x32: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        // segment-remap;
        // com-invdir;
        // com-sequential;
        // inversion-on;
        prechargep = <0x22>;
    };
};
